<div class="card mb-4">
  <div class="card-header">
    <p class="card-header-title">LwM2M Connection</p>
  </div>
  <div class="card-content">

    <div class="field is-horizontal">
      <div class="field-label is-small">
        <label class="label">Endpoint ID</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control is-expanded">
            <input
              type="text"
              class="input is-small"
              [value]="connection.endpoint ?? ''"
              readonly
            />
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-small">
        <label class="label">Server address</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control is-expanded">
            <input
              type="text"
              class="input is-small"
              [value]="connection.upstream ?? ''"
              readonly
            />
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-small">
        <label class="label">Local port</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input
              type="text"
              class="input is-small"
              style="max-width: 10rem"
              [value]="connection.localPort"
              readonly
            />
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-small">
        <label class="label">Bootstrap</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            @if (connection.bootstrap) {
              <span class="tag is-primary">Yes</span>
            }
            @if (!connection.bootstrap) {
              <span class="tag">No</span>
            }
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-small">
        <label class="label">Secure mode</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            @if (connection.secureMode) {
              <span class="tag is-primary">Yes</span>
            }
            @if (!connection.secureMode) {
              <span class="tag">No</span>
            }
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-small">
        <label class="label">Status</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <div class="level is-mobile">
              <div class="level-left">
                @if (connection.connected) {
                  <span class="tag is-success">Connected</span>
                }
                @if (!connection.connected) {
                  <span class="tag is-warning">Disconnected</span>
                }
              </div>
              <div class="level-right">
                @if (!connection.connected) {
                  <button class="button is-small is-primary" (click)="connect.emit()">
                    Connect
                  </button>
                }
                @if (connection.connected) {
                  <button class="button is-small is-danger" (click)="disconnect.emit()">
                    Disconnect
                  </button>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
