.not-bordered {
  border: 0;
  background-color: transparent;
}

.button {
  width: 100%;
  max-width: 75px;
}

.input {
  max-width: 150px;
}

.progress {
}

td {
  vertical-align: middle !important;
}
