.columns {
  width: 100%;
  height: 100%;
  margin-left: 0;
  padding-top: 0.75rem;
}

.hero.welcome.is-info {
  background: #36D1DC;
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  background:         linear-gradient(to right, #5B86E5, #36D1DC);
}

.hero.welcome .title, .hero.welcome .subtitle {
  color: hsl(192, 17%, 99%);
}
