name: Dependency Submission

# workflow limited to only files related to gradle dependencies
on:
  push:
    branches:
      - "main"
      - "release-*"
    paths:
      - ".github/workflows/gradle-dependency-submission.yml"
      - "buildSrc/**"
      - "gradle/**"
      - "**/*.gradle.kts"
      - "gradle.properties"
      - "gradlew"
      - "gradlew.bat"

jobs:
  dependency-submission:
    name: Dependency Submission
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "temurin"

      # Generates and submits a dependency graph, enabling Dependabot Alerts for all project dependencies.
      # See: https://github.com/gradle/actions/blob/main/dependency-submission/README.md
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5
        env:
          GRADLE_OPTS: >-
            -Dorg.gradle.configuration-cache=false
            -Dorg.gradle.daemon=false
            -Dorg.gradle.parallel=false
            -Dorg.gradle.workers.max=1
        with:
          dependency-graph-exclude-projects: ":buildSrc"
          dependency-graph-exclude-configurations: ".*[Tt]est(Compile|Runtime)Classpath"
