name: WebApp Build

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
      - "release-*"
    paths:
      - "webapp/**"
  pull_request:
    branches:
      - "main"
      - "release-*"
    paths:
      - "webapp/**"
  schedule:
    - cron: "0 3 * * 0"  # Weekly on Sundays at 3 AM UTC

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    defaults:
      run:
        working-directory: webapp
    strategy:
      fail-fast: false
      matrix:
        node-version: [ 20.x, 22.x, 24.x ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: "taskbook-frontend/package-lock.json"

      - name: Install Dependencies
        run: npm ci

      - name: Check Prettier Formatting
        run: npm run prettier -- --check

      - name: Build Project
        run: npm run build --if-present
